<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/index.html">Obed Edom</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Main
                <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="/index.html">Home</a></li>
                    <li><a href="/pages/about.html">About</a></li>
                    <li><a href="/pages/contact.html">Contact</a></li> 
                </ul>
            </li>
            <li>
                <a href="https://obededom.bandcamp.com/">Music</a>
            </li>
            
            <li>
                <a href="/pages/dates.html">Dates</a>
            </li>
            
            <li>
                <a href="/404.html">Merch</a>
            </li>

            <li>
                <a href="/forbidden/rabbithole.html">Forbidden Knowledge</a>
            </li>
        </ul>
    </div>
</nav>